@import url(https://db.onlinewebfonts.com/c/a78eeb1f96069e0adb615de348adbc73?family=OffBit+Trial);
@import url(https://db.onlinewebfonts.com/c/cac761b089f7af9abce910f81628279d?family=Dottie);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.HeroSectionOne {
  display: flex;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  padding: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(60, 60, 60, 1) 96%
  );
}
.HeroOne {
  background-color: inherit;
  font-family: "Offbit-2";
  font-size: 100px;
  display: flexbox;
  text-align: left;
  width: 100%;
}

.hero-heading {
  display: flex;
  color: #000000;
  font-size: 6rem;
  transform: translateY(-100px);
}

.SignUp-Button,
.Login-button {
  font-size: 30px;
  font-family: "Offbit-1";
  border-radius: 30px;
  display: block;
  display: flex;
  margin: 0.75rem;
  padding: 0.25rem;
  margin-left: 0;
  padding-left: 0;
  padding-inline: 1rem;
  transition: all linear 300ms;
}
.SignUp-Button,
.Login-button:hover {
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.Login-button,
.SignUp-Button:hover {
  border: 3px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.hero-div-2 {
  display: flex;
  justify-content: space-between;
}

.hero-details-container {
  width: 500px;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 1rem;
}

.hero-details-container ul {
  text-align: right;
  color: #000000;
}
.hero-details-container ul li {
  font-size: 20px;
  list-style: none;
}

.HeroTwo {
  height: 60vh;
  background: linear-gradient(180deg, #ffffff 30%, #000000 100%, #000000 50%);
}

.HeroThree {
  height: 100vh;
  background: #000000;
  color: #ffffff;
}
