
.heroTwo {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Offbit-1";
}

.heroTwoPageBar {
  font-size: calc((100vh) / 5);
  height: calc((100vh) / 5);
  background-color: transparent;
  text-align: center;
  overflow: hidden;
}

.heroTwoPageBar:hover {
  color: red;
}
