*{
    font-family: 'Offbit-1';
    overflow-x: hidden;
}
.LoginPageTagLineContainer{
    padding: 1.5rem;
    padding-inline: 2.5rem;
}

.devConnLoginHead{
    font-size: 5rem;
    font-weight: bolder;
    text-align: left;
}

.loginTypeWriterText{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.LoginTaglineText{
    font-size: 1.25rem;
    font-family:'Offbit-4' ;
}

.loginPageSection{
    display: flex;
    padding: 5.5rem;
    justify-content: space-around;
    margin: 6.25rem;
    margin-inline: 0px;
   
}

.loginHead{
    font-size: 5rem;
    font-weight: bolder;
    margin: auto;

}



.loginInputsDiv ,.LoginPageTagLineContainer{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.loginInputsDiv input{
    width: 25rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin: 1rem;
    margin-inline: 0;
}

.loginInputsDiv{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
    padding-inline: 2.5rem;
}

.loginSubmitButton{
    width: 25rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    margin-inline: 0;
    font-size:1.5rem ;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #000000;
    transition: all linear 300ms;
    
}
.loginSubmitButton:hover{
    background-color: #000000;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
}
.loginInputsDiv label {
    font-size:1.5rem ; 
}
.notRegisteredYetText,.forgotPasswordText{
    margin: 0.625rem;
    margin-inline: auto;
    
    
}
.notRegisteredYetText a,.forgotPasswordText{
    text-decoration: none;
}

.notRegisteredYetText:hover,.forgotPasswordText:hover{
    text-decoration: underline;
}


